:root {
    --size-divisor: 1;
    }

.canvas{
    background: url('../images/background.png');
    background-position: center;
    position:relative;
    height:512px;
    width:288px;
    margin:0;
    overflow: hidden;
}

.pipeUp{
    background: url('../images/pipe-up.png');
    position:absolute;
    width:52px;
    height:320px;
    transition:5ms;
    z-index:2;
}

.pipeDown{
    background: url('../images/pipe-down.png');
    position:absolute;
    width:52px;
    height:320px;
    z-index:2;
    transition:5ms;
}

.bird{
    background: url('../images/bluebird.png');
    background-repeat: no-repeat;
    position: absolute;
    width:34px;
    height:24px;
    transition:50ms;
}

.ground{
    background:url('../images/ground.png');
    position:absolute;
    width:288px;
    height:112px;
    top:400px;
    z-index:3;
}

.canvasGreyOverlay{
    background-color:rgb(0,0,0,0.3);
    position:absolute;
    width:288px;
    height:512px;
    z-index:4;
}

.playButton{
    position:absolute;
    top:50%;
    left:50%;
    font-size:2rem;
    transform:translateX(-50%);
    z-index:4;
}

.status{
    position:absolute;
    top:25%;
    left:50%;
    transform:translateX(-50%);
    font-size:2rem;
    color:white;
    text-shadow: 1px 2px black;
    -webkit-user-select: none;     
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.score{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    font-size:3rem;
    color:white;
    text-shadow: 2px 1px black;
    z-index:4;
    -webkit-user-select: none;     
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

body{
    background:#363636;
    overflow: hidden;
    transform-origin: left top;
    width:288px;
    height:512px;
    touch-action: manipulation;
}

.container{
  position:fixed;
}